In [13]:
import pandas as pd
df_products = pd.read_csv("data/noahs-products.csv")
df_products = df_products[df_products['sku'].str.contains('BKY')]

In [19]:
df_customers = pd.read_csv("data/noahs-customers.csv")

In [15]:
df_orders = pd.read_csv("data/noahs-orders.csv", parse_dates=["ordered", "shipped"])
df_order_items = pd.read_csv("data/noahs-orders_items.csv")
df_orders = df_orders.merge(df_order_items)
df_orders = df_orders.merge(df_products)
df_orders = df_orders[(df_orders['ordered'].dt.hour < 5) & ((df_orders["ordered"] - df_orders["shipped"]).dt.seconds <= 60)]
df_orders

,orderid,customerid,ordered,shipped,items,total,sku,qty,unit_price,desc,wholesale_cost
166,91714,6916,2019-07-26 01:16:42,2019-07-26 01:16:42,NaN,57.60,BKY8673,1,7.15,Raspberry Linzer Cookie,4.97
474,56593,6623,2018-08-11 00:19:28,2018-08-11 00:19:28,NaN,69.51,BKY3104,1,4.99,Caraway Puff,4.36
575,112974,9055,2020-02-24 00:08:41,2020-02-24 00:08:41,NaN,14.19,BKY3104,1,6.16,Caraway Puff,4.36
602,129887,5172,2020-08-11 00:40:15,2020-08-11 00:40:15,NaN,5.17,BKY3104,1,5.17,Caraway Puff,4.36
746,201780,5375,2022-08-03 04:40:13,2022-08-03 04:40:13,NaN,5.39,BKY3104,1,5.39,Caraway Puff,4.36
784,11423,6723,2017-05-16 00:37:04,2017-05-16 00:37:04,NaN,193.55,BKY4940,1,7.11,Raspberry Hamentash,5.31
857,57114,10300,2018-08-16 03:45:20,2018-08-16 03:45:20,NaN,145.63,BKY4940,1,6.66,Raspberry Hamentash,5.31
914,89522,6649,2019-07-03 00:40:35,2019-07-03 00:40:35,NaN,46.50,BKY4940,1,6.33,Raspberry Hamentash,5.31
1301,92885,4452,2019-08-07 00:55:06,2019-08-07 00:55:06,NaN,78.94,BKY1873,1,5.34,Raspberry Babka,4.30
1756,139555,1262,2020-11-17 01:58:39,2020-11-17 01:58:39,NaN,5.66,BKY9255,1,5.66,Poppyseed Sufganiah,4.47
1758,140667,11145,2020-11-28 02:57:47,2020-11-28 02:57:47,NaN,26.47,BKY9255,1,6.46,Poppyseed Sufganiah,4.47
2360,26173,5105,2017-10-11 04:58:38,2017-10-11 04:58:38,NaN,389.65,BKY5887,1,7.89,Sesame Bagel,6.38
2445,71208,7632,2019-01-03 00:52:40,2019-01-03 00:52:40,NaN,8.09,BKY5887,1,8.09,Sesame Bagel,6.38
2536,125557,11149,2020-06-29 00:05:00,2020-06-29 00:05:00,NaN,77.10,BKY5887,1,7.75,Sesame Bagel,6.38
2627,172733,3344,2021-10-15 00:51:14,2021-10-15 00:51:14,NaN,18.16,BKY5887,1,8.38,Sesame Bagel,6.38
3563,70592,2764,2018-12-28 00:51:42,2018-12-28 00:51:42,NaN,43.93,BKY6881,1,6.66,Poppyseed Rugelach,5.35
3597,89522,6649,2019-07-03 00:40:35,2019-07-03 00:40:35,NaN,46.50,BKY6881,1,6.24,Poppyseed Rugelach,5.35
3615,93583,5375,2019-08-14 04:09:04,2019-08-14 04:09:04,NaN,5.60,BKY6881,1,5.60,Poppyseed Rugelach,5.35
3891,43673,5375,2018-04-04 04:25:24,2018-04-04 04:25:24,NaN,6.07,BKY0403,1,6.07,Poppyseed Linzer Cookie,4.87
3950,74179,8981,2019-02-01 00:18:08,2019-02-01 00:18:08,NaN,93.39,BKY0403,1,5.78,Poppyseed Linzer Cookie,4.87
4487,148755,8790,2021-02-17 03:20:45,2021-02-17 03:20:45,NaN,5.76,BKY3437,1,5.76,Raspberry Mandelbrot,4.89
4685,50933,3974,2018-06-15 02:20:29,2018-06-15 02:20:29,NaN,11.18,BKY7160,1,7.30,Caraway Twist,6.15
4939,199892,5375,2022-07-15 04:38:38,2022-07-15 04:38:38,NaN,14.50,BKY7160,2,7.25,Caraway Twist,6.15
5024,33991,10102,2017-12-29 01:02:42,2017-12-29 01:02:42,NaN,19.02,BKY4022,1,7.61,Sesame Bialy,5.86
5202,139155,8389,2020-11-13 00:13:37,2020-11-13 00:13:37,NaN,41.27,BKY4022,1,7.31,Sesame Bialy,5.86
5238,161847,5375,2021-06-28 04:10:43,2021-06-28 04:10:43,NaN,12.36,BKY4022,2,6.18,Sesame Bialy,5.86
5295,196511,5375,2022-06-11 04:44:42,2022-06-11 04:44:42,NaN,7.72,BKY4022,1,7.72,Sesame Bialy,5.86
5400,41954,4544,2018-03-18 00:40:22,2018-03-18 00:40:22,NaN,30.11,BKY3164,2,5.16,Caraway Bialy,5.15
5419,56593,6623,2018-08-11 00:19:28,2018-08-11 00:19:28,NaN,69.51,BKY3164,1,6.75,Caraway Bialy,5.15
5812,58193,5375,2018-08-27 04:14:45,2018-08-27 04:14:45,NaN,7.02,BKY4234,1,7.02,Caraway Bagel,6.23
6059,187216,5375,2022-03-11 04:14:57,2022-03-11 04:14:57,NaN,14.34,BKY4234,2,7.17,Caraway Bagel,6.23
6362,127719,2215,2020-07-21 00:14:06,2020-07-21 00:14:06,NaN,319.86,BKY7711,1,6.66,Sesame Twist,4.96
6365,128726,5175,2020-07-31 02:28:36,2020-07-31 02:28:36,NaN,6.29,BKY7711,1,6.29,Sesame Twist,4.96
6396,148056,10374,2021-02-10 00:42:54,2021-02-10 00:42:54,NaN,52.82,BKY7711,1,5.99,Sesame Twist,4.96
6591,48000,5375,2018-05-16 04:25:13,2018-05-16 04:25:13,NaN,12.72,BKY0455,2,6.36,Raspberry Rugelach,5.24
6700,112567,10543,2020-02-20 03:24:04,2020-02-20 03:24:04,NaN,110.06,BKY0455,1,6.15,Raspberry Rugelach,5.24
6822,174534,5375,2021-11-02 04:41:47,2021-11-02 04:41:47,NaN,6.36,BKY0455,1,6.36,Raspberry Rugelach,5.24
7449,85681,5362,2019-05-26 01:48:53,2019-05-26 01:48:53,NaN,189.16,BKY6452,2,7.28,Sesame Puff,5.80
7652,212353,4173,2022-11-18 02:05:07,2022-11-18 02:05:07,NaN,6.32,BKY6452,1,6.32,Sesame Puff,5.80

In [22]:
df_customers = df_orders.merge(df_customers)
df_customers

,orderid,customerid,ordered,shipped,items,total,sku,qty,unit_price,desc,wholesale_cost,name,address,citystatezip,birthdate,phone
0,91714,6916,2019-07-26 01:16:42,2019-07-26 01:16:42,NaN,57.60,BKY8673,1,7.15,Raspberry Linzer Cookie,4.97,Benjamin Owens,200A E 103rd St,"Manhattan, NY 10029",1998-06-28,585-719-9953
1,56593,6623,2018-08-11 00:19:28,2018-08-11 00:19:28,NaN,69.51,BKY3104,1,4.99,Caraway Puff,4.36,Richard Cox,860 Macy Pl,"Bronx, NY 10455",1950-08-13,914-403-4272
2,112974,9055,2020-02-24 00:08:41,2020-02-24 00:08:41,NaN,14.19,BKY3104,1,6.16,Caraway Puff,4.36,Darren Wheeler,2852 Wellman Ave,"Bronx, NY 10461",1993-12-22,680-313-7158
3,129887,5172,2020-08-11 00:40:15,2020-08-11 00:40:15,NaN,5.17,BKY3104,1,5.17,Caraway Puff,4.36,Gregory Curry,1074A Southern Blvd,"Bronx, NY 10459",1994-12-30,607-234-2753
4,201780,5375,2022-08-03 04:40:13,2022-08-03 04:40:13,NaN,5.39,BKY3104,1,5.39,Caraway Puff,4.36,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036
5,11423,6723,2017-05-16 00:37:04,2017-05-16 00:37:04,NaN,193.55,BKY4940,1,7.11,Raspberry Hamentash,5.31,Ryan Romero II,1945 Prospect Ave,"Bronx, NY 10457",1973-03-05,315-452-1483
6,57114,10300,2018-08-16 03:45:20,2018-08-16 03:45:20,NaN,145.63,BKY4940,1,6.66,Raspberry Hamentash,5.31,Kimberly Sullivan,2765B Jerome Ave,"Bronx, NY 10468",1957-05-21,585-645-2661
7,89522,6649,2019-07-03 00:40:35,2019-07-03 00:40:35,NaN,46.50,BKY4940,1,6.33,Raspberry Hamentash,5.31,James Rangel,1889 Prospect Ave,"Bronx, NY 10457",1975-05-02,516-395-6945
8,92885,4452,2019-08-07 00:55:06,2019-08-07 00:55:06,NaN,78.94,BKY1873,1,5.34,Raspberry Babka,4.30,Kyle Harper,44 Riverside Blvd,"Manhattan, NY 10069",1988-04-13,516-977-1771
9,139555,1262,2020-11-17 01:58:39,2020-11-17 01:58:39,NaN,5.66,BKY9255,1,5.66,Poppyseed Sufganiah,4.47,Anna Rodriguez,206 Gar E 169th St,"Bronx, NY 10456",1985-06-03,914-818-0036
10,140667,11145,2020-11-28 02:57:47,2020-11-28 02:57:47,NaN,26.47,BKY9255,1,6.46,Poppyseed Sufganiah,4.47,Frederick Moss,2855 Bronx Park E,"Bronx, NY 10467",1971-07-15,917-807-7174
11,26173,5105,2017-10-11 04:58:38,2017-10-11 04:58:38,NaN,389.65,BKY5887,1,7.89,Sesame Bagel,6.38,Heather Brown,2305 Arthur Ave,"Bronx, NY 10458",1970-02-28,929-518-7269
12,71208,7632,2019-01-03 00:52:40,2019-01-03 00:52:40,NaN,8.09,BKY5887,1,8.09,Sesame Bagel,6.38,Aaron Harrison,19-19 48th St,"Astoria, NY 11105",1986-09-19,838-717-5363
13,125557,11149,2020-06-29 00:05:00,2020-06-29 00:05:00,NaN,77.10,BKY5887,1,7.75,Sesame Bagel,6.38,Tracey Meza,1667A Amsterdam Ave,"Manhattan, NY 10031",1988-01-07,838-352-8112
14,172733,3344,2021-10-15 00:51:14,2021-10-15 00:51:14,NaN,18.16,BKY5887,1,8.38,Sesame Bagel,6.38,Steven Day,4-92 48th Ave,"Long Island City, NY 11109",1988-05-30,516-245-0977
15,70592,2764,2018-12-28 00:51:42,2018-12-28 00:51:42,NaN,43.93,BKY6881,1,6.66,Poppyseed Rugelach,5.35,Jonathon Diaz,887 Boynton Ave,"Bronx, NY 10473",1995-03-04,680-839-8884
16,89522,6649,2019-07-03 00:40:35,2019-07-03 00:40:35,NaN,46.50,BKY6881,1,6.24,Poppyseed Rugelach,5.35,James Rangel,1889 Prospect Ave,"Bronx, NY 10457",1975-05-02,516-395-6945
17,93583,5375,2019-08-14 04:09:04,2019-08-14 04:09:04,NaN,5.60,BKY6881,1,5.60,Poppyseed Rugelach,5.35,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036
18,43673,5375,2018-04-04 04:25:24,2018-04-04 04:25:24,NaN,6.07,BKY0403,1,6.07,Poppyseed Linzer Cookie,4.87,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036
19,74179,8981,2019-02-01 00:18:08,2019-02-01 00:18:08,NaN,93.39,BKY0403,1,5.78,Poppyseed Linzer Cookie,4.87,Amber Morales,2995 Gar Frederick Douglass Blvd,"Manhattan, NY 10039",1961-07-06,516-464-7595
20,148755,8790,2021-02-17 03:20:45,2021-02-17 03:20:45,NaN,5.76,BKY3437,1,5.76,Raspberry Mandelbrot,4.89,James Dunn,767 Elton Ave,"Bronx, NY 10451",1989-05-05,516-456-4995
21,50933,3974,2018-06-15 02:20:29,2018-06-15 02:20:29,NaN,11.18,BKY7160,1,7.30,Caraway Twist,6.15,Chloe Heidi Reed,397 E 74th St,"Manhattan, NY 10021",1999-12-24,607-985-7907
22,199892,5375,2022-07-15 04:38:38,2022-07-15 04:38:38,NaN,14.50,BKY7160,2,7.25,Caraway Twist,6.15,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036
23,33991,10102,2017-12-29 01:02:42,2017-12-29 01:02:42,NaN,19.02,BKY4022,1,7.61,Sesame Bialy,5.86,Denise Villa,824B E Tremont Ave,"Bronx, NY 10460",1970-04-15,585-336-2473
24,139155,8389,2020-11-13 00:13:37,2020-11-13 00:13:37,NaN,41.27,BKY4022,1,7.31,Sesame Bialy,5.86,Anita Wilson,2065B 3rd Ave,"Manhattan, NY 10029",1971-04-04,716-730-5201
25,161847,5375,2021-06-28 04:10:43,2021-06-28 04:10:43,NaN,12.36,BKY4022,2,6.18,Sesame Bialy,5.86,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036
26,196511,5375,2022-06-11 04:44:42,2022-06-11 04:44:42,NaN,7.72,BKY4022,1,7.72,Sesame Bialy,5.86,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036
27,41954,4544,2018-03-18 00:40:22,2018-03-18 00:40:22,NaN,30.11,BKY3164,2,5.16,Caraway Bialy,5.15,Pamela Harris,1836 Rear Anthony Ave,"Bronx, NY 10457",1989-03-17,585-508-7204
28,56593,6623,2018-08-11 00:19:28,2018-08-11 00:19:28,NaN,69.51,BKY3164,1,6.75,Caraway Bialy,5.15,Richard Cox,860 Macy Pl,"Bronx, NY 10455",1950-08-13,914-403-4272
29,58193,5375,2018-08-27 04:14:45,2018-08-27 04:14:45,NaN,7.02,BKY4234,1,7.02,Caraway Bagel,6.23,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036
30,187216,5375,2022-03-11 04:14:57,2022-03-11 04:14:57,NaN,14.34,BKY4234,2,7.17,Caraway Bagel,6.23,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036
31,127719,2215,2020-07-21 00:14:06,2020-07-21 00:14:06,NaN,319.86,BKY7711,1,6.66,Sesame Twist,4.96,Carlos Moran Jr.,824F E 138th St,"Bronx, NY 10454",1990-05-31,914-367-1082
32,128726,5175,2020-07-31 02:28:36,2020-07-31 02:28:36,NaN,6.29,BKY7711,1,6.29,Sesame Twist,4.96,Jason Pitts,1733 Jerome Ave,"Bronx, NY 10453",1966-03-31,680-903-0551
33,148056,10374,2021-02-10 00:42:54,2021-02-10 00:42:54,NaN,52.82,BKY7711,1,5.99,Sesame Twist,4.96,Reginald Gray,463 E 161st St,"Bronx, NY 10451",1976-07-31,716-651-1377
34,48000,5375,2018-05-16 04:25:13,2018-05-16 04:25:13,NaN,12.72,BKY0455,2,6.36,Raspberry Rugelach,5.24,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036
35,112567,10543,2020-02-20 03:24:04,2020-02-20 03:24:04,NaN,110.06,BKY0455,1,6.15,Raspberry Rugelach,5.24,John Roberts,790 Westchester Ave,"Bronx, NY 10456",1968-05-30,917-407-3437
36,174534,5375,2021-11-02 04:41:47,2021-11-02 04:41:47,NaN,6.36,BKY0455,1,6.36,Raspberry Rugelach,5.24,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036
37,85681,5362,2019-05-26 01:48:53,2019-05-26 01:48:53,NaN,189.16,BKY6452,2,7.28,Sesame Puff,5.80,Sheila Baker,662 W 162nd St,"Manhattan, NY 10032",1977-05-28,332-819-6512
38,212353,4173,2022-11-18 02:05:07,2022-11-18 02:05:07,NaN,6.32,BKY6452,1,6.32,Sesame Puff,5.80,Teresa Conley,177B Bruckner Blvd,"Bronx, NY 10454",1992-08-31,315-619-8957

In [23]:
zipcodes = (
        list(range(10301, 10315))
        + list(range(10451, 10476))
        + list(range(11004, 11110))
        + list(range(11351, 11698))
        + list(range(11201, 11257))
    )
df_customers["zipcode"] = df_customers["citystatezip"].str.extract(r" (\d{5})").astype(int)
df_customers = df_customers[df_customers["zipcode"].isin(zipcodes)]
df_customers

,orderid,customerid,ordered,shipped,items,total,sku,qty,unit_price,desc,wholesale_cost,name,address,citystatezip,birthdate,phone,zipcode
1,56593,6623,2018-08-11 00:19:28,2018-08-11 00:19:28,NaN,69.51,BKY3104,1,4.99,Caraway Puff,4.36,Richard Cox,860 Macy Pl,"Bronx, NY 10455",1950-08-13,914-403-4272,10455
2,112974,9055,2020-02-24 00:08:41,2020-02-24 00:08:41,NaN,14.19,BKY3104,1,6.16,Caraway Puff,4.36,Darren Wheeler,2852 Wellman Ave,"Bronx, NY 10461",1993-12-22,680-313-7158,10461
3,129887,5172,2020-08-11 00:40:15,2020-08-11 00:40:15,NaN,5.17,BKY3104,1,5.17,Caraway Puff,4.36,Gregory Curry,1074A Southern Blvd,"Bronx, NY 10459",1994-12-30,607-234-2753,10459
4,201780,5375,2022-08-03 04:40:13,2022-08-03 04:40:13,NaN,5.39,BKY3104,1,5.39,Caraway Puff,4.36,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036,10474
5,11423,6723,2017-05-16 00:37:04,2017-05-16 00:37:04,NaN,193.55,BKY4940,1,7.11,Raspberry Hamentash,5.31,Ryan Romero II,1945 Prospect Ave,"Bronx, NY 10457",1973-03-05,315-452-1483,10457
6,57114,10300,2018-08-16 03:45:20,2018-08-16 03:45:20,NaN,145.63,BKY4940,1,6.66,Raspberry Hamentash,5.31,Kimberly Sullivan,2765B Jerome Ave,"Bronx, NY 10468",1957-05-21,585-645-2661,10468
7,89522,6649,2019-07-03 00:40:35,2019-07-03 00:40:35,NaN,46.50,BKY4940,1,6.33,Raspberry Hamentash,5.31,James Rangel,1889 Prospect Ave,"Bronx, NY 10457",1975-05-02,516-395-6945,10457
9,139555,1262,2020-11-17 01:58:39,2020-11-17 01:58:39,NaN,5.66,BKY9255,1,5.66,Poppyseed Sufganiah,4.47,Anna Rodriguez,206 Gar E 169th St,"Bronx, NY 10456",1985-06-03,914-818-0036,10456
10,140667,11145,2020-11-28 02:57:47,2020-11-28 02:57:47,NaN,26.47,BKY9255,1,6.46,Poppyseed Sufganiah,4.47,Frederick Moss,2855 Bronx Park E,"Bronx, NY 10467",1971-07-15,917-807-7174,10467
11,26173,5105,2017-10-11 04:58:38,2017-10-11 04:58:38,NaN,389.65,BKY5887,1,7.89,Sesame Bagel,6.38,Heather Brown,2305 Arthur Ave,"Bronx, NY 10458",1970-02-28,929-518-7269,10458
12,71208,7632,2019-01-03 00:52:40,2019-01-03 00:52:40,NaN,8.09,BKY5887,1,8.09,Sesame Bagel,6.38,Aaron Harrison,19-19 48th St,"Astoria, NY 11105",1986-09-19,838-717-5363,11105
14,172733,3344,2021-10-15 00:51:14,2021-10-15 00:51:14,NaN,18.16,BKY5887,1,8.38,Sesame Bagel,6.38,Steven Day,4-92 48th Ave,"Long Island City, NY 11109",1988-05-30,516-245-0977,11109
15,70592,2764,2018-12-28 00:51:42,2018-12-28 00:51:42,NaN,43.93,BKY6881,1,6.66,Poppyseed Rugelach,5.35,Jonathon Diaz,887 Boynton Ave,"Bronx, NY 10473",1995-03-04,680-839-8884,10473
16,89522,6649,2019-07-03 00:40:35,2019-07-03 00:40:35,NaN,46.50,BKY6881,1,6.24,Poppyseed Rugelach,5.35,James Rangel,1889 Prospect Ave,"Bronx, NY 10457",1975-05-02,516-395-6945,10457
17,93583,5375,2019-08-14 04:09:04,2019-08-14 04:09:04,NaN,5.60,BKY6881,1,5.60,Poppyseed Rugelach,5.35,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036,10474
18,43673,5375,2018-04-04 04:25:24,2018-04-04 04:25:24,NaN,6.07,BKY0403,1,6.07,Poppyseed Linzer Cookie,4.87,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036,10474
20,148755,8790,2021-02-17 03:20:45,2021-02-17 03:20:45,NaN,5.76,BKY3437,1,5.76,Raspberry Mandelbrot,4.89,James Dunn,767 Elton Ave,"Bronx, NY 10451",1989-05-05,516-456-4995,10451
22,199892,5375,2022-07-15 04:38:38,2022-07-15 04:38:38,NaN,14.50,BKY7160,2,7.25,Caraway Twist,6.15,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036,10474
23,33991,10102,2017-12-29 01:02:42,2017-12-29 01:02:42,NaN,19.02,BKY4022,1,7.61,Sesame Bialy,5.86,Denise Villa,824B E Tremont Ave,"Bronx, NY 10460",1970-04-15,585-336-2473,10460
25,161847,5375,2021-06-28 04:10:43,2021-06-28 04:10:43,NaN,12.36,BKY4022,2,6.18,Sesame Bialy,5.86,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036,10474
26,196511,5375,2022-06-11 04:44:42,2022-06-11 04:44:42,NaN,7.72,BKY4022,1,7.72,Sesame Bialy,5.86,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036,10474
27,41954,4544,2018-03-18 00:40:22,2018-03-18 00:40:22,NaN,30.11,BKY3164,2,5.16,Caraway Bialy,5.15,Pamela Harris,1836 Rear Anthony Ave,"Bronx, NY 10457",1989-03-17,585-508-7204,10457
28,56593,6623,2018-08-11 00:19:28,2018-08-11 00:19:28,NaN,69.51,BKY3164,1,6.75,Caraway Bialy,5.15,Richard Cox,860 Macy Pl,"Bronx, NY 10455",1950-08-13,914-403-4272,10455
29,58193,5375,2018-08-27 04:14:45,2018-08-27 04:14:45,NaN,7.02,BKY4234,1,7.02,Caraway Bagel,6.23,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036,10474
30,187216,5375,2022-03-11 04:14:57,2022-03-11 04:14:57,NaN,14.34,BKY4234,2,7.17,Caraway Bagel,6.23,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036,10474
31,127719,2215,2020-07-21 00:14:06,2020-07-21 00:14:06,NaN,319.86,BKY7711,1,6.66,Sesame Twist,4.96,Carlos Moran Jr.,824F E 138th St,"Bronx, NY 10454",1990-05-31,914-367-1082,10454
32,128726,5175,2020-07-31 02:28:36,2020-07-31 02:28:36,NaN,6.29,BKY7711,1,6.29,Sesame Twist,4.96,Jason Pitts,1733 Jerome Ave,"Bronx, NY 10453",1966-03-31,680-903-0551,10453
33,148056,10374,2021-02-10 00:42:54,2021-02-10 00:42:54,NaN,52.82,BKY7711,1,5.99,Sesame Twist,4.96,Reginald Gray,463 E 161st St,"Bronx, NY 10451",1976-07-31,716-651-1377,10451
34,48000,5375,2018-05-16 04:25:13,2018-05-16 04:25:13,NaN,12.72,BKY0455,2,6.36,Raspberry Rugelach,5.24,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036,10474
35,112567,10543,2020-02-20 03:24:04,2020-02-20 03:24:04,NaN,110.06,BKY0455,1,6.15,Raspberry Rugelach,5.24,John Roberts,790 Westchester Ave,"Bronx, NY 10456",1968-05-30,917-407-3437,10456
36,174534,5375,2021-11-02 04:41:47,2021-11-02 04:41:47,NaN,6.36,BKY0455,1,6.36,Raspberry Rugelach,5.24,Christina Booker,1127 Grinnell Pl,"Bronx, NY 10474",1981-01-08,718-649-9036,10474
38,212353,4173,2022-11-18 02:05:07,2022-11-18 02:05:07,NaN,6.32,BKY6452,1,6.32,Sesame Puff,5.80,Teresa Conley,177B Bruckner Blvd,"Bronx, NY 10454",1992-08-31,315-619-8957,10454